<div class="content">
  <div class="container">
      <div class="row">
          <div class="col-sm-12">
              <!-- meta -->
              <div class="profile-user-box card-box bg-custom">
                  <div class="row">
                      <div class="col-sm-6"><span class="float-left mr-3"><img src="../../../assets/USERlogo.jpg" alt="" class="thumb-lg rounded-circle"></span>
                          <div class="media-body text-white">
                              <h4 class="mt-1 mb-1 font-18">Cruza Beer & Friends</h4>
                              <p class="font-13 text-light">Administración</p>
                          </div>
                          <button type="button" class="btn btn-primary" routerLink="/"><i class="bi bi-arrow-left-circle-fill"></i> Volver al inicio</button>
                      </div>
                  </div>
              </div>
              <!--/ meta -->
          </div>
      </div>
      <!-- end row -->
      <div class="row">
          <div class="col-xl-4">
              <!-- Personal-Information -->
              <div class="card-box">
                <h4 class="header-title mt-0">{{ fechaActual | date:'dd/MM/yyyy' }} - {{ horaActual }} hs</h4>
                      
                <p></p>      
                  <div class="panel-body">
                    
                      <hr>
                      <div class="text-left">
                          <p class="text-muted font-13"><strong>Teléfono:</strong><span class="m-l-15"> +54 123456789</span></p>
                          <p class="text-muted font-13"><span class="m-l-15">Club Hipico - Santiago del Estero</span></p>
                      </div>
                  </div>
              </div>
              <!-- Personal-Information -->
              <div class="card-box ribbon-box">
 <!-- empleados -->
 <app-empleados></app-empleados>
</div>
 <!-- empleados fin-->
          </div>
          <div class="col-xl-8">
              <div class="row">
                  <div class="col-sm-4">
                      <!-- <div class="card-box tilebox-one"><i class="icon-layers float-right text-muted"></i>
                          <h6 class="text-muted text-uppercase mt-0">Pedidos del día</h6>
                          <h2 class="" data-plugin="counterup">87</h2></div> -->
                  </div>
                  <!-- end col -->
                  <div class="col-sm-4">
                      <!-- <div class="card-box tilebox-one"><i class="icon-paypal float-right text-muted"></i>
                          <h6 class="text-muted text-uppercase mt-0">Ingresos del día</h6>
                          <h2 class="">$<span data-plugin="counterup">46.782,00</span></h2></div> -->
                  </div>
                  <!-- end col -->
                  <div class="col-sm-4">
                      <!-- <div class="card-box tilebox-one"><i class="icon-rocket float-right text-muted"></i>
                          <h6 class="text-muted text-uppercase mt-0">Empleados</h6>
                          <h2 class="" data-plugin="counterup">7</h2></div> -->
                  </div>
                  <!-- end col -->
              </div> 
              <!-->>> reservas >>>-->
              <app-reservas></app-reservas>
          <!--<<< reservas <<<-->
          <!--#### ADMIN PEDIDOS #### -->
          <div>
            <h4 class="header-title mb-3">Administrar pedidos</h4>
            <button type="button" class="btn btn-primary" routerLink="pedidos-admin"><i class="bi bi-box-seam"></i> Abrir lista de pedidos</button>
            <p>* Pedidos modo administrador</p>
        </div>
        <!-- #### FIN ADMIN PEDIDOS ####  -->
        <br>
<!-- INGRESOS -->
<app-ingresos></app-ingresos>
<!-- fin ingresos -->
      </div>
      <!-- end row -->
  </div>
  <!-- container -->
</div>