<div class="row">
    <h1>| Entradas</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaEntrada" *ngIf="isLogged">
            + Agregar entrada
        </button>
    </div>
</div>

<div class="container menu-container">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6" *ngFor="let Experiencia of expe">
                    <div class="menu-item">
                        <h3>{{Experiencia.nombreE}}</h3>
                        <p>{{Experiencia.descripcionE}}</p>
                        <p class="precio">$ {{Experiencia.fechaInicioE}}</p>
                        <td *ngIf="isLogged"><button class="btn btn-light" routerLink="/editEntrada/{{Experiencia.id}}"><i
                                    class="bi bi-pencil-square"></i> Editar</button></td>
                        <td *ngIf="isLogged"><button class="btn btn-danger" (click)="delete(Experiencia.id)"><i
                                    class="bi bi-trash3-fill"></i> Borrar</button></td>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
