<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h3 class="text-center">Horario de atención</h3>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Día</th>
              <th>Horario</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Lunes</td>
              <td>9:00 AM - 10:00 PM</td>
            </tr>
            <tr>
              <td>Martes</td>
              <td>9:00 AM - 10:00 PM</td>
            </tr>
            <tr>
              <td>Miércoles</td>
              <td>9:00 AM - 10:00 PM</td>
            </tr>
            <tr>
              <td>Jueves</td>
              <td>9:00 AM - 10:00 PM</td>
            </tr>
            <tr>
              <td>Viernes</td>
              <td>9:00 AM - 12:00 AM</td>
            </tr>
            <tr>
              <td>Sábado</td>
              <td>10:00 AM - 12:00 AM</td>
            </tr>
            <tr>
              <td>Domingo</td>
              <td>Cerrado</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  