<body>
    <main class="table">
        <section class="table__header">
            <h1>Pedidos</h1>
            <!-- <div class="input-group">
                <input type="search" placeholder="Buscar pedido...">
            </div> -->
            <div class="export__file">
                <button class="btn btn-primary" routerLink="anadirPedido" *ngIf="isLogged">+ Añadir pedido</button>
            </div>
        </section>
        <button class="btn btn-primary" routerLink="/dashboard">
            <i class="bi bi-arrow-left"></i> Volver al inicio
        </button>
        <section class="table__body">
            <table>
                <thead>
                    <tr class="text-center">
                        <th>Número de pedido</th>
                        <th>Número mesa</th>
                        <th>Nombre Cliente</th>
                        <th>Horario del pedido</th>
                        <th>Pedido</th>
                        <th>Observaciones</th>
                        <th class="text-center">Acciones</th>
                        <th class="text-center">Estado actual del pedido</th>
                        <th>Precio del pedido</th>
                    </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let Pedidos of pedidos">
                        <td>#{{Pedidos.numeroPedido}} </td>
                        <td>N° {{Pedidos.numeroMesaPedido}}</td>
                        <td> <img src="../../../assets/USERlogo.jpg" alt="">{{Pedidos.nombreClientePedido}}</td>
                        <td> {{Pedidos.horarioPedido}} </td>
                        <td>{{Pedidos.pedido}}</td>
                        <td>{{Pedidos.observacionesPedido}}</td>
                        <td class="text-center">
                            <button class="btn btn-secondary" routerLink="/prepararPedido/{{Pedidos.id}}">Prearar pedido</button> 
                            <button class="btn btn-success" routerLink="/editarPedido/{{Pedidos.id}}">Marcar como realizado</button>
                            <button class="btn btn-danger" (click)="delete(Pedidos.id)" >Cancelar pedido</button>
                        </td>
                        <td>
                            <p class="status delivered">{{Pedidos.estadoPedido}}</p>
                        </td>
                        <td> <strong>${{Pedidos.precioPedido}} </strong></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
</body>
