<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>Oops!</h1>
                <h2>404</h2>
                <div class="error-details">
                    <p>La página que estás buscando no existe.</p>
                    <p>Verifica la URL que ingresaste o elige una opción debajo.</p>
                </div>
                <div class="error-actions">
                    <button routerLink="" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Ir al inicio </button>
                </div>
            </div>
        </div>
    </div>
</div>