.row {
    background-color: #dcf4fd;
    padding: 20px;
}

h1 {
    font-weight: 800;
}

.circulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.badge {
    background-color: #333333; 
    border-radius: 20px; 
    padding: 5px 10px; 
    display: inline-block; 
  }
  
  .text {
    color: #ffffff; 
    font-weight: bold; 
  }
  
  .skill-nombre {
    margin-right: 5px; 
  }
  
  .skill-porcentaje {
    background-color: #ffffff;
    padding: 3px 8px; 
    border-radius: 10px; 
  }
  