
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 2rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
                <div class="d-flex justify-content-center align-items-center">
                  <h2 class="mb-2"></h2> 
                  <img src="../../../assets/logoCruzaClean.png" alt="" class="ml-2 mt-2 mb-4">
                </div>
                <form   novalidate>
                  <div class="form-outline form-white mb-4">
                    <p class="text-white-50">Cambiar contraseña</p>
                    <label class="form-label" for="nombreUsuario">Ingrese su nueva contraseña</label>
                    <input pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" type="password" id="password" name="password" class="form-control form-control-lg" 
                    required />
                  </div>
  
                  <div class="form-outline form-white mb-4">
                    <label class="form-label" for="password">Repita su contraseña</label>
                    <input  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" type="password" id="password" name="password" class="form-control form-control-lg" 
                      required />
                  </div>
                  <button class="btn btn-outline-light btn-lg px-5" type="submit" routerLink="">Guardar contraseña</button>
                  <br>
                  <p><a class="text-white-50"  ></a></p>
                </form>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
  